@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Playfair+Display:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.75rem; }
  
  body {
    background: url(../Media/fondoInk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; }

    
ul li {
    list-style: none; }
  
  .nav li a {
    text-decoration: none;
    font-size: 1.25em;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    display: inline;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 0.93rem;
    margin: 1.25rem;
    color: cornsilk;
    width: 100%;
    transition: all 0.5s; }
  
  .nav li a:hover {
    background-image: linear-gradient(315deg, #eec0c688 0%, #7ee7fa75 74%);
    color: black;
    font-weight: bold;
    font-size: 1.62rem; }
  
  .nav > li {
    float: left; }
  
  .nav li ul {
    display: none;
    position: relative;
    margin-top: 10px;
    min-width: 100%;
    padding: 0.93rem; }
  
  .nav li:hover > ul {
    display: block; }
  
  .nav li ul li {
    position: relative;
    padding: 0.93rem; }
    .nav li ul li ul {
      right: -8.75rem;
      top: 0px;
      padding: 0.93rem; }

      /* ACA PISO ALGUNAS CARACTERISTICAS DEL MODAL*/
.modal-content {
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #90d5ec8e 0%, #fc575f8e 74%); }
  
  .btn-primary {
    background-color: crimson; }
  
  #exampleModalLabel {
    font-size: 50pt !important;
    margin-top: 2px; }
  
  .subtitle {
    color: black; }
  
  .contact {
    margin-top: 150px;
    margin-left: 150px; }
  
  .hablemos {
    font-size: 40px;
    text-align: center;
    background-color: crimson;
    padding: 20px;
    border-radius: 10px;
    font-family: "Barlow Condensed", sans-serif; }
  
  .center {
    text-align: center;
    margin-top: 100px; }
  
  .bg-gradient {
    background-color: #eec0c60c;
    background-image: linear-gradient(315deg, #eec0c60e 0%, #7ee7fa0e 74%); }
  
  .nav-link {
    color: white !important; 
    font-family: "Barlow Condensed", sans-serif !important;
  }
    .nav-link:hover {
      background-image: linear-gradient(315deg, #eec0c688 0%, #7ee7fa75 74%);
      color: black;
      font-weight: bold;
      font-size: 1.62rem; }
  
  .navbar-brand {
    color: crimson !important;
    font-family: "Barlow Condensed", sans-serif !important; }
    .navbar-brand:hover {
      background-image: linear-gradient(315deg, #eec0c688 0%, #7ee7fa75 74%);
      color: black;
      font-weight: bold;
      font-size: 1.62rem; }

img {
    width: 42%;
    margin-bottom: 10px; 
  }

h2 {
        font-family: "Barlow Condensed", sans-serif;
        color: cornsilk;
        font-size: 1.25 rem;
        margin: 5 rem; }

p {
        font-family: "Barlow Condensed", sans-serif;
        color: #f75188;
        font-size: 1.3rem;
        margin: 5px 5px 21px 5px;
        text-align: justify; }

select{
    display: flex;
    margin: auto;
}

footer {
    font-family: "Barlow Condensed", sans-serif;
    color: #faf8f894;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: .4rem; }
  
  li {
    padding: 2px;
    list-style: none;
    display: inline-block; }
  
  li a {
    color: cornsilk; }
  
#boton-carrito {
  color: cornsilk;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #eec0c60c;
  background-image: linear-gradient(315deg, #eec0c60e 0%, #7ee7fa0e 54%);
  padding: 5px;
  border-style: none;
  margin-left: 10px; }

  #boton-carrito:hover {
    background-image: linear-gradient(315deg, #eec0c688 0%, #7ee7fa75 54%);
    color: crimson;
    font-weight: bold;
    font-size: 1.62rem; }

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    max-width: 30%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #ec1c24;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #ec1c24;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #ec1c24;
}

.boton-eliminar {
    background-color: white;
    color: royalblue;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  color: crimson;
  font-weight: bolder;
  font-size: 1.25 rem;
  margin: 5 rem; }