$style-casa-mansa-font: "Playfair Display", serif;
$style-casa-manifesto: 3.125rem, "Playfair Display", serif;
$style-sections: "Playfair Display", serif;
$style-slim: "Barlow Condensed", sans-serif;
$style1-color: #faf8f894;
$style2-color: #f75188;
$style-sections-width: 100%;

.mainTitle {
  font-family: $style-casa-mansa-font;
  position: relative;
  font-size: 9.375rem;
  letter-spacing: 0rem;
  color: rgba(56, 67, 231, 0);
  text-align: center;
  -webkit-text-stroke: 0.3vh $style1-color;
  animation: casaMansa 6s linear infinite;
}

.manifesto {
  font-family: $style-casa-manifesto;
  color: $style1-color;
  text-align: center;
}

.titulosSecciones {
  font-family: $style-sections;
  font-size: 50pt;
  color: $style1-color;
  width: $style-sections-width;
  margin-top: 3.75rem;
  text-align: center;
  animation: titulosSecciones 6s linear infinite;
}

h2 {
  font-family: $style-slim;
  color: $style1-color;
  font-size: 1.25 rem;
  margin: 5 rem;
}

.novedades {
  font-family: $style-slim;
  color: $style1-color;
  font-size: 1.25 rem;
  margin: 5 rem;
}

p {
  font-family: $style-slim;
  color: $style2-color;
  font-size: 1.3rem;
  margin: 20px 20px 50px 50px;
  text-align: justify;
}

.pnovedades {
  font-family: $style-slim;
  color: $style2-color;
  font-size: 1.3rem;
  margin: 20px 20px 50px 50px;
  text-align: justify;
}

footer {
  font-family: $style-slim;
  color: $style1-color;
  width: $style-sections-width;
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 1.875rem;
}

li {
    padding: 5px;
    list-style: none;
    display: inline-block;
}

li a {
    color: cornsilk;

}


legend {
  font-family: $style-slim;
  color: rgb(4, 3, 0);
  font-size: 20pt;
  padding: 2px;
}

div {
  font-family: $style-slim;
  color: $style2-color;
  font-size: 15pt;
  padding: 2px;
}

.novedadesContainer {
  width: 80%;
  margin: auto;
}

#boton-carrito {
   color: cornsilk;
  background-color: #eec0c60c;
  background-image: linear-gradient(315deg, #eec0c60e 0%, #7ee7fa0e 54%);
  padding: 5px;
  border-style: none;
  margin-left: 10px;

  &:hover {
    background-image: linear-gradient(315deg, #eec0c688 0%, #7ee7fa75 54%);
    color: black;
    font-weight: bold;
    font-size: 1.62rem;
   }
  }

  
 .producto p {
  padding: 0px !important;
  margin: 10px 0px 10px 0px !important;
}